[Unit]
Description=Ravencoin for Ravencore
Requires=network.target

[Service]
Type=simple
WorkingDirectory=/usr/opt/ravencore
ExecStart=/usr/bin/ravencore-ravend -datadir=/home/ravencore/.ravencore/data/
ExecReload=/bin/kill -HUP $MAINPID
Restart=on-failure
RestartSec=15
User=ravencore
ExecStartPre=/bin/mkdir -p /run/ravencore
ExecStartPre=/bin/chown ravencore:ravencore /run/ravencore
ExecStartPre=/bin/chmod 755 /run/ravencore
PermissionsStartOnly=true
TimeoutStopSec=300

[Install]
WantedBy=multi-user.target
